.spacer {
  flex: 1 1 auto;
}

.menu-item {
    margin: 0 15px;
    color: #fff;
    text-decoration: none !important;
}

.menu-item:hover {
    text-decoration: underline !important;
}

.menu-item.active {
    font-weight: bolder;
}