<!-- <mat-toolbar [color]="'primary'"> -->
<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="spacer"></span>
    <a class="menu-item" routerLink="/home" routerLinkActive="active">Home</a>
    <a class="menu-item" routerLink="/get-started" routerLinkActive="active">Get Started</a>
    <a class="menu-item" routerLink="/products" routerLinkActive="active">Products</a>
</mat-toolbar>